<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Thêm các liên kết CSS khác nếu cần -->
</head>
<body>
    <footer th:fragment="footer">
        <div class="container">
            <div class="row mt-3 top">
                <div class="col-lg-3">
                    <h3 class="titleF">CÔNG TY TNHH MR BIKER SÀI GÒN</h3>
                    <div class="mt-1 text-content">
                        <br> <a class="bold">Số ĐKKD:</a> 0313643591 do Sở KHĐT Tp. HCM cấp ngày 29/01/2016
                    </div>
                    <div class="mt-1 text-content">
                        <br> <a class="bold">Người đại diện:</a> Hàng Minh Thái
                    </div>
                    <div class="mt-1 text-content">
                        <br> <a class="bold">Địa chỉ:</a> 136/9 Nguyễn Thị Tần, Phường 2, Quận 8, TP. HCM
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3 class="titleF">HỖ TRỢ KHÁCH HÀNG</h3>
                    <div class="mt-5 text-content">
                        <ul class="p-3">
                            <li>Chính sách đổi trả, hoàn tiền</li> 
                            <li>Chính sách bảo hành</li>
                            <li>Chính sách xử lý khiếu nại</li>
                            <li>Chính sách vận chuyển</li>
                            <li>Điều khoản sử dụng</li>
                            <li>Chính Sách Bảo Mật Thông Tin</li>
                            <li>Chính sách nhượng quyền</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3 class="titleF">LIÊN HỆ TƯ VẤN</h3>
                    <div class="mt-1 text-content">
                        <br>
                        <ul class="p-3">
                            <li>☎️ Hotline CN1: 0858997878 - 0918639179 (Hoàng Anh)</li>
                            <li>☎️ Hotline CN2: 094 9692179 - 086 678 3339 (Đại Việt)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h3 class="titleF">KẾT NỐI VỚI MR BIKER</h3>
                    <div class="mt-1 text-content">
                        <br>
                        <ul class="flex items-center gap-20 mt-17">
                            <li><a href="https://www.facebook.com/profile.php?id=100013885188472" class="text-24 text-light"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/mrbikersaigon.official/?hl=en" class="text-24 text-light"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/@mrbikersaigon9631" class="text-24 text-light"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="https://www.tiktok.com/@bikeshopsaigon?is_from_webapp=1&amp;sender_device=pc" class="text-24 text-light"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row bottom">
                <div class="content-footer-id text-center">
                    <a>© CÔNG TY TNHH VNB SPORTS</a> <a>GPKD số 0314496879 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày 05/07/2017</a> <a>GĐ/Sở hữu website: Nguyễn Hoàng Nam</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
